services:
  petnet-feeder-service:
    image: ghcr.io/feedernet/petnet-feeder-service:latest
    container_name: petnet-feeder-service
    environment:
      - PYTHONUNBUFFERED=1
      # If you're running the application under a sub-path of an existing domain, set that here.
      - APP_ROOT=

      # Add a domain to the self-signed certificates tht are generated on the first run.
      # - DOMAIN="myfeeder.com"
    ports:
      - 5000:5000
      - 8883:8883
      - 1883:1883
    working_dir: /tmp
    tty: true
    volumes:
      - "./data:/data"
      - "./feeder:/tmp/feeder"
      - "./alembic.ini:/tmp/alembic.ini"
    restart: unless-stopped

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - "./data:/data"
      - "./data/nginx.conf:/etc/nginx/conf.d/default.conf"
    restart: unless-stopped
